@use 'helpers/color' as *;
@use 'helpers/mixins' as *;

@import url(../vendor/normalize.scss);
@import url(../vendor/fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.root {
  font-family: 'Inter', Arial, sans-serif;
  background-color: $bg-page;
  color: $main-text-color;
}

.page {
  max-width: 129rem;
  /*  max-width: 60rem; */
  margin: 0 auto;
  padding: 0 5rem;
}

.main {
  position: relative;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    &:hover {
      color: rgba(212, 255, 0, 1);
    }
  }
  &__heading {
    @include main-font;
    letter-spacing: 0.2rem;

    margin: 3rem 0 5rem 0;
  }
}

.cart {
  border-top: 0.1rem solid #efefef;
  border-bottom: 0.1rem solid #efefef;
  padding: 1.2rem 0;
  cursor: pointer;
  position: relative;
  /*  overflow: hidden; */
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__heading {
    @include main-font;
  }

  &__close {
    @include main-font;

    color: #ffe600;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    z-index: 3;
    display: none;
  }

  &__count {
    @include main-font;
  }
}
.clossed {
  display: flex;
}
.button {
  border: none;
  background-color: transparent;
}

.cart-inner {
  height: 0;
  overflow: hidden;
  background-color: #202020;

  p {
    color: red;
    padding: 30px 0;
  }

  &__opened {
    animation: slide 0.5s ease forwards;
    height: auto;
  }
  &__close {
    animation: slide-close 0.5s ease forwards;
    height: 0;
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: 500px;
  }
}

@keyframes slide-close {
  from {
    height: 500px;
  }
  to {
    height: 0;
  }
}

/* CARD */

.cards {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  justify-content: center;
  gap: 5rem 1.6rem;
  padding: 0 0.5rem 0 0;
  width: 100%;

  margin-top: 2rem;
  top: 8rem;

  max-height: 45rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #363636;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #efeeef;
  }

  z-index: -1;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__img {
    }

    &__heding {
      position: absolute;
      @include cart-font;
      font-weight: 400;
      text-transform: uppercase;
      color: #000;
      top: 2rem;
      left: 3rem;
    }

    &__price {
      position: absolute;
      color: #000;
      left: 3rem;
      bottom: 6.5rem;
    }

    &__btn {
      padding: 1.4rem 0;
      text-transform: uppercase;
      background-color: #d9d9d9;
      color: #202020;
      @include cart-font;
      font-weight: 900;
      cursor: pointer;
      transition: all ease-in 0.3s;

      &:hover {
        background-color: rgba(212, 255, 0, 1);
      }
    }
  }
}

/* CART PRODUCT */
.card-product {
  background-color: plum;
  cursor: default;
  height: 100%;
  padding: 2rem;
}

.product {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  /* margin-bottom: 4rem; */
  border: none;
}
.quantity__count {
  border: 1px solid #ccc;
  max-width: 12rem;
  display: flex;
}
.quantity__count-btn {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 11px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.quantity__count-number {
  max-width: 39px;
  height: 35px;
  text-align: center;
  padding: 15px;
  border: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.quantity__count-plus {
  background-image: url(../images/count-plus.svg);
  font-size: 0;
}

.quantity__count-minus {
  background-image: url(../images/minus.svg);
  font-size: 0;
}

.card-remove {
  background-image: url(../images/btn-remove.svg);
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 2.5rem;
  background-position: center center;
  cursor: pointer;
}

.popup {
  position: fixed;
  z-index: 1;

  top: 50%;
  left: 50%;
  display: flex;
  /* display: none; */

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  backdrop-filter: blur(0.22rem) brightness(70%) saturate(120%);
  overflow: auto;
}

.popup__opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.button__close-popup {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -6rem;

  cursor: pointer;
  background-color: yellowgreen;
  padding: 10px;
  text-transform: uppercase;
}

.popup__container {
  padding: 1rem 3.6rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  max-width: 43rem;
  background-color: #fff;
  border-radius: 10px;

  min-height: 20rem;
  min-width: 30rem;
}

@media (max-width: 510px) {
  .popup__container {
    padding: 0 22px;
    max-width: 282px;
  }
}

.popup__text {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.footer {
  position: absolute;
  bottom: 2rem;
  font-size: 18px;
  font-weight: 500;
}
